/* imports */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:ital,wght@0,200;0,300;0,500;1,600&display=swap');

/*
old colors: 
orange: ff9d47
yellow: ffe156
white: ffe9ce
pink: #ffb5c2
blue:3777ff
dark blue: 090446

new colors: 
periwinkle: #A7ABDD
green: #19535F
lavender: #FCEDEE
plum: #42103D
blue: #020887
*/

body{
    margin: 0;
    background-color: #A7ABDD;
}

#navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #020887;
    color: #FCEDEE;
    padding: 15px;
    font-family: 'Gloock', serif;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 3;
    align-content: center;
    justify-content: space-between;
    margin: 20px;
}

.nav-items.greeting{
    display: flex;
    flex-direction: row;
    /* max-width: 80px; */
    flex: 8;
}

#loggedIn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#navbar button{
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    background-color:  #FCEDEE;
    border: none;
    height: 50px;
    width: 65px;
    font-family: 'Gloock', serif;
    border-radius: 35px;
    margin-right: 10px;
    padding: 10px;
}

#navbar a{
    color:  #FCEDEE;
}

#navbar a:active{
    color: #ffb5c2;
}

#navbar a:hover{
    color: #ffb5c2;
}

#navbar h1{
    letter-spacing: 2px;
}


.post{
    /* border: solid; */
    margin: 10px;
    background-color: #FCEDEE;
    color: #090446;
    font-family: 'Montserrat', sans-serif;
    border-radius: 35px;
    /* text-align: center; */
    box-shadow: 2px 2px 3px #ffb5c2;
    padding: 20px;
    line-height: 30px;
}

.cardLabel{
    font-weight: 600;
    /* font-style: italic; */
    color: #020887;
    text-decoration: underline #a7abdd;
    letter-spacing: 1px;
}

.mainPage{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.allPosts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 2;
}

#newPost{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex: 1;
    max-width: 450px;
    background-color: #FCEDEE;
    padding: 30px;
    color: #020887;
    font-family: 'Montserrat', sans-serif;
}

#newPost h1{
    font-family: 'Gloock', serif;
}

#newPost form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#newPost > form > .input >label{
    text-decoration: underline #a7abdd;
}

#sameLine{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.input{
    display: flex;
    justify-content: space-between;
}
#description{
    height: 100px;
}